.larger {
  width: 1480px;
}
.hiddenPrice {
  display: none;
}
.header-main.fixed .logo a img {
  padding-top: 5px !important;
  padding-bottom: 5px;
}
.no-padding {
  padding: 0;
}
ul {
  list-style-type: none;
}
.product-view-switcher {
  margin-right: 0 !important;
}
.product-img-wrap {
  max-height: 350px;
}
.col-md-12,
.col-md-3 {
  padding: 0;
}
.footer {
  padding-bottom: 0;
}

.footer .section-padding {
  padding-bottom: 0 !important;
}

.footer .copyrights {
  padding-top: 80px;
  padding-bottom: 10px;
}

.product-item {
  border: 1px solid transparent;
  padding-top: 15px;
  padding-bottom: 10px;
  min-height: 493px;
}

.owl-stage-outer .product-item {
  min-height: 100%;
}
.product-item:hover {
  border: 1px solid #eee;
}
.product-item:hover .product-title a {
  color: #2c628f;
}
.product-item:hover b {
  color: #2c628f;
}
.nav-link h2 {
  color: rgba(51, 51, 51, 0.48);
}
.nav-item a {
  border-right: 1px solid #eee;
}
.nav-item.last a:last-child {
  border: none;
}
.nav-link.active h2 {
  color: #333;
}
.productLine:last-child .product-item {
  border-bottom: 1px solid #eeeeee;
}
.productLine:first-child{
  margin-top: -20px;
}
.productLine{
  margin-top: -50px;
}
.goods_amount {
  padding: 10px;
  color: #333333;
  display: none;
}
.item-price span {
  font-size: 12px;
}
.product-item:hover .goods_amount {
  display: block;
}

.mainPage .product-item:hover .goods_amount {
  display: block;
  margin-top: 10px;
}
.product-item:hover .goodsCount_price {
  display: block;
}
.like-share-inner h1 {
  font-size: 25px;
  color: #fff;
}
.aboutText h2,
.aboutText h5 {
  text-transform: uppercase;
}
.aboutText h5 {
  margin-top: 20px;
}
.aboutText a.btn {
  border: none;
  float: left;
  background: #2c628f;
  color: #fff;
  margin-left: 40px;
  padding: 13px 30px 10px 30px;
  margin-top: -6px;
}
#collapseInfo .col-md-12,
#collapseInfo .col-md-3 {
  padding: 20px;
  text-align: justify;
}
.categories .cat_block {
  margin-top: -80px;
  z-index: 1;
}
.phone div {
  margin-right: 30px;
}
.productIcons {
  position: absolute;
  top: 0;
  left: 0;
}
.productIcons i {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  float: left;
  display: block;
  background-size: 100% !important;
  margin-bottom: 5px;
}
.productIcons .stamp_leather {
  background: url("../img/product_icons/stamp_koza.svg") no-repeat;
}
.productIcons .stamp_snake {
  background: url("../img/product_icons/stamp_zmeika.svg") no-repeat;
}
.productIcons .stamp_wool {
  background: url("../img/product_icons/stamp_sherst.svg") no-repeat;
}
.productIcons .stamp_backlight {
  background: url("../img/product_icons/stamp_podsvetka.svg") no-repeat;
}
.productIcons .stamp_brakes {
  background: url("../img/product_icons/stamp_tormoza.svg") no-repeat;
}
.productIcons .stamp_heat-cold {
  background: url("../img/product_icons/stamp_teploHolod.svg") no-repeat;
}
.productIcons .stamp_leatherinsole {
  background: url("../img/product_icons/stamp_kozanayaStelka.svg") no-repeat;
}
.productIcons .stamp_doubleKnitting {
  background: url("../img/product_icons/stamp_dvoinayaVyazka.svg") no-repeat;
}
.productIcons .stamp_singleKnitting {
  background: url("../img/product_icons/stamp_odinarnayaVyazka.svg") no-repeat;
}
.list-page-title h2 small {
  margin-left: 10px;
  color: #2c628f;
}
.product-list-view .goods_amount {
  padding: 0;
  padding-bottom: 10px;
  margin-top: 14px;
}
.product-list-view .goods_amount .col-md-6 {
  padding: 0;
}
.product-list-view .item-price {
  padding: 0;
}
.product-list-view .product-item {
  border-bottom: 1px solid #eeeeee;
}
.categoryPage .product-img-wrap {
  text-align: center;
}
.categoryPage .section-padding .container {
  width: 1140px;
}
.categoryPage .container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.categoryPage .sidebar-container {
  padding: 0;
}
.categoryPage .product-item {
  border: none;
  min-height: 470px;
}

.categoryPage .product-list-view .goods_amount {
  display: block !important;
}
.categoryPage .product-item:last-child {
  border: none;
}
.categoryPage .product-show {
  margin-right: 30px;
}
.categoryPage .filterInner {
  max-height: 230px;
  overflow: hidden;
  overflow-y: scroll;
}
.categoryPage .sidebar-container {
  padding-right: 30px;
  position: relative;
}
.categoryPage .checkbox {
  margin: 0 auto;
  max-width: 100%;
  text-align: left;
}
.categoryPage .checkbox label {
  padding-left: 15px;
}
.categoryPage .pull-right {
  margin-right: 0 !important;
}
.categoryPage .checkbox:hover label {
  color: #2c628f;
}
.categoryPage .product-item .product-item-inner img {
  width: 100%;
  max-height: 390px;
  max-width: 170px;
  text-align: center;
  margin: 0 auto;
  float: none;
}
.categoryPage .product-img-wrap a {
  margin: 0 auto;
  margin-top: 20px;
}
.categoryPage .product-list-view .product-img-wrap {
  margin: 0;
}
.categoryPage .product-list-view .product-item-inner img {
  width: 100%;
  max-height: 390px;
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
  float: none;
}
.categoryPage .submit_onChoose {
  position: absolute;
  right: 15%;
  top: 10%;
  z-index: 1;
  display: none;
}
.categoryPage .submit_onChoose button {
  position: fixed;
  background: #2c628f;
  padding: 11px 30px 10px 30px;
  color: #fff;
  border-radius: 8px 15px 15px 8px;
}
.categoryPage .submit_onChoose button:hover {
  background: #5186d0;
}
.categoryPage .submit_onChoose button:hover .arrow-left {
  border-right: 15px solid #5186d0;
}
.categoryPage .submit_onChoose .arrow-left {
  width: 0;
  left: -14px;
  top: 2px;
  position: absolute;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #2c628f;
  transition: all 0.3s ease 0s !important;
  -moz-transition: all 0.3s ease 0s !important;
  -webkit-transition: all 0.3s ease 0s !important;
  -o-transition: all 0.3s ease 0s !important;
}
.categoryPage .showed {
  display: block !important;
}
.logReg_page input,
.logReg_page input[type="text"],
.logReg_page input[type="email"],
.logReg_page input[type="tel"],
.logReg_page input[type="number"],
.logReg_page input[type="password"],
.logReg_page input[type="radio"],
.logReg_page input[type="checkbox"],
.logReg_page textarea,
.logReg_page select {
  -webkit-appearance: initial;
}
.logReg_page .form-border-box {
  padding-bottom: 20px;
}
.logReg_page .form-border-box label {
  text-align: left;
}
.logReg_page .form-border-box .form-field-wrapper {
  text-align: center;
}
.logReg_page .form-border-box .form-field-wrapper a {
  margin-top: 30px;
}
.logReg_page .form-border-box .submit {
  margin-top: 10px;
}
.regPage .form-field-wrapper.col-md-12 {
  text-align: center;
  margin-top: 50px;
}
.regPage .form-field-wrapper {
  padding: 0;
}
.regPage .form-group {
  float: left;
  width: 100%;
  padding: 0;
}
.regPage .form-group label {
  text-align: left;
}
.regPage .form-group input {
  padding-top: 13px;
  padding-bottom: 13px;
  height: 44px;
  width: 90%;
}
.regPage .form-group p {
  color: red;
  position: absolute;
  top: 3px;
  font-size: 12px;
  background: #e5e5e5;
  z-index: 12;
  padding-left: 30px;
  padding-right: 30px;
  float: none;
  margin: 0 auto;
  left: 26%;
}
.regPage .form-group .selectpicker {
  color: rgba(51, 51, 51, 0.77);
  outline: none;
  font-weight: 400;
  font-size: 13px;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.regPage .btn-md {
  padding: 20px 85px !important;
  font-size: 14px;
}
.regPage .help-block {
  color: #f55151;
  position: absolute;
  left: 20px;
}
.regPage .form-horizontal input,
.regPage .form-horizontal select {
  padding-top: 13px;
  padding-bottom: 13px;
  height: 44px !important;
  border-radius: 30px !important;
}
.regPage .input-group {
  padding-right: 40px;
}
.checkoutPage #shipping_method input {
  -webkit-appearance: radio;
}
.checkoutPage #shipping_method li {
  text-align: left;
}
.checkoutPage .product-checkout-payment input {
  -webkit-appearance: radio;
}
.checkoutPage #createaccount {
  -webkit-appearance: checkbox;
  float: left;
  margin-top: 6px;
  margin-right: 13px;
}
.checkoutPage .product-checkout-payment span {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.checkoutPage h5 {
  color: rgba(0, 0, 0, 0.23);
}

.checkoutPage select {
  padding-top: 13px;
  padding-bottom: 13px;
  height: 44px !important;
  border-radius: 55px !important;
  border-bottom-right-radius: 55px !important;
  border-top-right-radius: 55px !important;
  width: 90%;
}
.checkoutPage .has-feedback {
  margin-top: 0 !important;
}
.checkoutPage .has-feedback button {
  margin-bottom: 0 !important;
}
.checkoutPage .product-checkout-payment .has-feedback {
  margin-bottom: 0 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}
.absolutPos {
  position: absolute;
  text-align: center;
  width: 100%;
}
.absolutPos p {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
  color: #000 !important;
  padding: 15px 10px;
  text-transform: uppercase;
}
.productPage .col-md-12,
.productPage .col-md-3 {
  padding-right: 15px;
  padding-left: 15px;
}
.cart-sidebar-wrap .cart-product-item em {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-style: unset;
}
.cart-sidebar-wrap .cart-product-item .productIcons {
  display: none;
}
.cart-sidebar-wrap .cart-total-hedding .currency-sign {
  color: #2c628f;
}
.cart-title .currency-sign {
  color: #97bf31;
  margin-left: .2em;
}
#product-detail .product-meta {
  width: 70%;
  margin-top: 3em;
  margin-bottom: 2em;
}
#product-detail .product-meta span span {
  float: right;
}
#product-detail .chooseItem {
  float: left;
  width: 100%;
  border: 1px solid #eee;
  padding-top: 30px;
  padding-bottom: 25px;
}
#product-detail .chooseItem input {
  -webkit-appearance: radio;
  float: left;
  margin-top: -8px;
}
#product-detail .chooseItem label {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  float: left;
  width: 100%;
}
#product-detail .chooseItem .lft,
#product-detail .chooseItem .rth {
  float: left;
  width: 100%;
  margin-bottom: 0.2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 50px;
}
#product-detail .chooseItem .lft span,
#product-detail .chooseItem .rth span {
  color: #63a3ff;
  float: right;
  font-size: 17px;
  font-family: "Montserrat";
  padding-bottom: 25px;
  font-weight: 500;
}
#product-detail .chooseItem .lft .forBag,
#product-detail .chooseItem .rth .forBag {
  color: #000;
  margin-left: .7em;
}
#product-detail .chooseItem .quantity.input-lg {
  margin-top: 0;
}
#product-detail .buttonPrice {
  float: left;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
}
#product-detail .product-price .price {
  font-family: "Montserrat";
}
#product-detail .disable {
  opacity: .4;
}
#product-detail .disable span {
  color: #000 !important;
}
@media (min-width: 280px) and (max-width: 1200px) {
  .product-sort-by,
  .product-filter-content form {
    margin-bottom: 2em;
  }
  .goods_amount {
    display: block;
  }
  .larger {
    width: 100%;
  }
  #product-detail .product-meta {
    width: 100%;
  }
  #product-detail .chooseItem {
    padding-right: 0;
    padding-left: 0;
  }
  #product-detail .chooseItem .lft,
  #product-detail .chooseItem .rth {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .footer .col-md-12,
  .footer .col-md-3 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.alert-success {
  background-color: #2b618f;
  border-color: #2b618f;
  color: #fff;
}
.top-alert {
  position: absolute !important;
  top: 100px;
  left: 0;
  z-index: 99;
  display: inline-block;
  text-align: center;
  width: 320px;
}
.top-alert .alert {
  width: auto !important;
  height: 100%;
  display: inline;
  position: relative;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 100;
}
.top-alert .alert .close {
  position: absolute;
  top: 11px;
  right: 10px;
  color: inherit;
}
.promo-banner-wrap.large {
  margin-top: 30px;
}
.product-sort-by.pull-right {
  text-align: right;
}
.product-sort-by.pull-right span {
  margin-left: 7px;
}

/*# sourceMappingURL=main.css.map */

.product-item .product-detail h5{
  color: #97bf31;
}

.mainPage .product-item{
  min-height: 460px;
  max-width: 20%;
}

.mainPage .product-detail .pull-left{
  padding: 0;
}

.mainPage .product-item{
  border: 2px solid transparent;
}
.mainPage .product-item:hover{
  border: 2px solid #2b618f !important;
  z-index: 99;
}

.CFBlock{
  display: none;
  margin-bottom: 50px;
}

.appedned__item i{
  float: right;
  margin-right: 25px;
  cursor: pointer;
  margin-top: 5px;
  color: #f44336;
  font-size: 15px;
}

.choosedFilter{
  max-height: 150px;
  overflow: scroll;
}