.mainPage--content{display: none}

.product--add .select2-container--default .select2-selection--single{
    padding: 7px 18px;
    height: 40px;
    border: 1px solid #ccc4b8;
}

.product--add .select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: 4px !important;
    margin-left: -10px !important;
}

.product--add .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 27px;
}

.toggle-off{
    background: #fff !important;
}
.toggle-off.btn{
    margin:0;
    color: #9A9A9A !important;
    padding: 9px 0px 10px 7px !important;
}

.first-icon, .second-icon{display: none}

.product--add .btn, .navbar .navbar-nav > li > a.btn{
    border-radius: 0;
    padding: 9px 3px 10px 17px;
    background: rgba(99, 164, 255, 0.59);
    color: #fff;
}

.toggle.btn.btn-default.off{
    height: 40px !important;
    width: 108px !important;
}

.toggle.btn {
    min-width: 59px;
    min-height: 27px;
    border-radius: 4px;
    border: 1px solid #ccc4b8;
}

.show-product{
    float: left;
    width: 100%;
}
.toggle.btn.btn-primary{
    height: 40px !important;
    width: 108px !important;
}
.toggle-on.btn {
    margin-bottom: 0;
    width: 108px !important;
}

.btn, .navbar .navbar-nav > li > a.btn{border-color: #fff;}

.sidebar a:hover{
    color: #63a4ff !important;
}

.add--date{
    max-width: 110px;
}

.col-md-2{
    max-width: 11%;
}

.product--option .col-md-2{
    max-width: 16.66666667%;
}

.fline [class*="col-"]:first-child{
    padding-left: 15px !important;
}

.product--add .row{
    margin-bottom: 30px;
}

.text-center button{
    padding: 10px 17px 8px 17px !important;
}

.file-caption.form-control{display: none}
.krajee-default.file-preview-frame{
    max-width: 219px;
    overflow: hidden;
}
.kv-preview-thumb .file-preview-image{
    width: 97% !important;
    float: left;
}
.kv-file-upload, .kv-file-remove, .kv-file-zoom{
    padding: 0 !important;
}

.kv-file-upload i, .kv-file-remove i, .kv-file-zoom i{
    font-size: 15px;
    margin-top: 6px;
}

.file-preview{
    margin-bottom: 15px;
}

.input-group-btn button{
    padding: 10px 17px 7px 10px !important;
    margin-right: 10px;
    background: #63a4ff;
    border: 2px solid rgba(204, 196, 184, 0.56);
}

.input-group-btn a{
    padding: 10px 17px 7px 10px !important;
    margin-right: 10px;
}

.fileinput-upload-button, .fileinput-remove-button{
    background: #63a4ff !important;
    border: 2px solid rgba(204, 196, 184, 0.56) !important;
    font-weight: bold;
}

.fileinput-upload-button:hover, .fileinput-remove-button:hover{
    background-color: #598bd4 !important;
    color: #FFFFFF;
    border-color: #40669c !important;
}

.input-group-btn .btn-file{
    padding: 10px 15px 7px 15px !important;
    margin-top: .6px;
    background: #63a4ff;
    border: 2px solid rgba(204, 196, 184, 0.56);
}

.input-group-btn .btn-file:hover{
    background-color: #598bd4 !important;
    color: #FFFFFF;
    border-color: #40669c !important;
}
.file-caption-main{
    text-align: center;
}
.close.fileinput-remove{display: none !important;}
.file-preview{margin-bottom: 25px !important;}
.krajee-default .file-thumb-progress{
    height: 20px !important;
}
.krajee-default .file-thumb-progress .progress, .krajee-default .file-thumb-progress .progress-bar{
    height: 20px !important;
    line-height: 21px !important;
    font-size: 12px !important;
}
.file-actions{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.file-upload-indicator{
    position: absolute;
    bottom: -20px;
    left: 5px;
}

.krajee-default img{
    width: 100% !important;
}

.file-zoom-content{
    height: 100% !important;
}

.floating-buttons .btn-kv{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.floating-buttons .btn-kv:hover{
    color: #fff;
    background-color: #8c8c8c;
    border-color: #8c8c8c;
}

.kv-zoom-actions .btn-kv{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.kv-zoom-actions .btn-kv:hover{
    color: #fff;
    background-color: #8c8c8c;
    border-color: #8c8c8c;
}

#kvFileinputModal .modal-content {
    height: auto;
    display: table;
    padding-bottom: 15px;
}

.product--info{
    height: 255px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.file-drag-handle{display: none !important;}
.file-zoom-dialog .btn-next, .file-zoom-dialog .btn-prev{border: none;}