.mainPage--content{display: none}
.articul input{
    max-width: 100px;
    overflow: hidden;
    border: none;
    background: transparent;
}

.span12.pull-right{
    margin-bottom: 10px;
}

.input-append.span12{
    max-width: 250px;
    width: 250px;
}
.input-append.span12 input{width: 90%;}

.btn-rotate{
    float: left;
    margin-top: 1px;
    margin-left: 22px;
    border-radius: 0;
}

.table-striped td a.remove__product{
    position: absolute;
    right: 8%;
}

.search input{
    padding-right: 4px \9;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #ccc4b8;
    border-radius: 0;
    padding: 7px 10px 5px 10px;
}

.card .table tbody td:first-child, .card .table thead th:first-child{
    padding: 0 !important;
}

.fht-cell input, .fht-cell select{
    padding-right: 4px \9;
    padding-left: 4px \9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #ccc4b8;
    border-radius: 0;
    padding: 7px 10px 5px 10px;
    max-width: 80%;
    margin: 0 auto;
}

.fixed-table-container thead th .sortable{
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 0 !important;
    text-align: center;
    padding-left: 0 !important;
}

.bootstrap-table .table thead>tr>th{
    padding-bottom: 15px !important;
}

.fixed-table-toolbar .bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search{
    float: right !important;
}

.table-full-width{
    margin: 0 !important;
}

.header--add--buttons{
    padding-left: 20px;
}
.header--add--buttons i:hover{
    color: #63a3ff;
}
.upload--buttons, .update--buttons, .remove--buttons{
    font-size: 30px;
    border: none;
    background: transparent;
    margin-right: 20px;
    float: left;
    padding: 0;
}

.update--buttons i{
    margin-top: 5px;
}

.modal-footer .btn:hover{
    background: transparent;
}