.price .title{
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid black;
}
.info{
    text-align: right;
    padding-bottom: 10px;
}
.table table{
    width: 100%;
}
.table table, th, td {
    border: 1px solid black;
}
.table th{
    background: #e4e4e4;
}
.table td {
    text-align: center;
}
.cost{
    float: right;
    padding: 0 0 0 25px;
}
.info p{
    margin: 10px 20px 0 0;
}
.info .price{
    font-size: 25px;
}